:root {
  --con-margin: 15px;
  --con-padding: 1em;
  --con-border: 1px;
  --dim-offset: calc(2 * (var(--con-margin) + var(--con-padding) + var(--con-border)));
  --bg-col: whitesmoke;
  --font-col: rgb(15, 15, 15);

  --card-gap: 1em;
  --card-padding: 0.5em;
}

html, body {
  margin: 0;
  height: 100vh;
  overflow: auto;

  background-color: var(--bg-col);
  background-image: linear-gradient(160deg, var(--bg-col), #b0b0b0);
}

.container {
  margin: var(--con-margin);
  padding: var(--con-padding);
  
  width: calc(100% - var(--dim-offset));
  height: calc(100% - var(--dim-offset));
  
  /* background-color: var(--bg-col); */
  background-image: linear-gradient(var(--bg-col), #b0b0b0);

  color: var(--font-col);

  border: var(--con-border) solid gray;
  border-radius: 1px;
  
  font-family: 'Roboto', sans-serif;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow: hidden;
}

.yah {
  font-size: 15pt;
}

.sidebar {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .title {
  display: flex;
  flex-direction: column;
}

.sidebar .title .t {
  font-weight: 300;
  font-size: 40pt;
}

.sidebar .title .subt {
  font-weight: 300;
  font-size: 20pt;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav a:hover {
  text-decoration: underline;
  text-decoration-color: #F99417;
}

.nav a:first-child {
  margin: 0.8em 0 0 0;
}

.nav a {
  font-size: 20pt;
  color: var(--font-col);
  text-decoration: none;
  font-weight: 700;
}

.nav a.current {
  cursor: not-allowed;
  opacity: 0.6;
}

.nav a.current:hover {
  text-decoration: none;
}

.content-container {
  position: relative;
  width: 60%;
  overflow:hidden;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);
  padding: 0 2em 0 0;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: 0;
}

.content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.content .card {
  padding: var(--card-padding);
  /* background-color: black; */
  background-image: linear-gradient(135deg, #015e58, black 60%);
  color: white;
  box-shadow: 0.3em 0.3em #F99417;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13pt;
  width: calc(100% - 2 * var(--card-padding));
  display: flex;
  flex-direction: column;
}

.content .card .t {
  font-weight: 500;
  display: block;
  margin: 0 0 0.5em 0;
  font-size: 15pt;
}

.content .card .subt {
  font-weight: 300;
  display: block;
  margin: -0.5em 0 0.5em 0;
  font-size: 12pt;
  font-weight: 500;
}

.content .card .f {
  /* display: block; */
  margin: 0.75em 0 0 0;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.content .card .skill {
  display: inline;
  padding: 0.2em;
  border-radius: 5px;
  background-color: #F99417;
  color: var(--font-col);
  font-weight: 700;

}

.content .card p {
  margin: 0 0 0.5em 0;
}

.content .card a {
  font-family: monospace;
  color: #F99417;
  text-decoration: none;
  font-weight: 700;
}

.content .scroll-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--font-col);
  width: 100%;
  height: 3em;
  font-weight: 500;
  font-size: 15pt;
  background-image: linear-gradient(transparent, #b0b0b0 60%);
  bottom: 0;
  opacity: 1;
  transition: opacity 0.2s;
}

.content .scroll-indicator.hidden {
  opacity: 0;
  transition: opacity 0.2s;
}

.im-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 0 0.5em 0;
  align-self: center;
  gap: 1em;
}

.im-group div {
  flex: 1;
}

.im-group div.im {
  justify-content: center;
  align-items: center;
  max-width: 75%;
  display: flex;
}

.im-group img {
  object-fit: contain;
  max-width: 100%;
}

.projs {
  position:absolute;
  display: flex;
  flex-direction:column;
  gap: 1em;
  left: 2em;
  bottom: 2em;
  font-size: 12pt;
  font-family: monospace, sans-serif;
  color: var(--font-col);
  font-weight: 400;

}

.projs a {
  text-decoration: underline;
  text-decoration-thickness: 5%;
  font: inherit;
  font-size: 15pt;
  color: inherit;
}

.projs a:hover::before {
  content: "> ";
}

.projs a:hover::after {
  content: " <";
}

@media (width <= 700px), (device-width <= 700px) {
  .projs {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: flex-start;
  }

  .sidebar {
    align-self: flex-start;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-between;
  }

  .yah {
    display: none;
  }


  .nav ul {
    direction: rtl;
  }

  .nav a:first-child {
    margin: 0;
  }

  .nav a.current::after {
    font-family: monospace;
    content: " \2192";
 }

  .content-container {
    width: 95%;
  }

  .content {
    padding: 0;
  }
}

@media (700px < width <= 1000px), (width <= 500px), (700px < device-width <= 1000px), (device-width <= 500px) {
  .im-group {
    align-items: center;
    flex-direction: column;
    gap: 0; 
  }
}